<!-- Footer -->
<footer class="footer bg-black-222" data-bg-img="{{asset('images/footer-bg.png')}}" id="footer">
	<div class="container pt-70 pb-40">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="widget dark">
					<img alt="" class="mt-10 mb-15" src="{{asset('images/logo-wide.png')}}">
					<p class="font-16 mb-10">GreenPeace is a library of Crowdfunding and Charity templates with
																																										                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    								predefined elements which helps you to build your own site. Lorem ipsum dolor sit amet
																																										                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    								consectetur.</p>
					<a class="font-14" href="#">
						<i class="fa fa-angle-double-right text-theme-colored"></i>
						Read
																																										                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    								more</a>
					<ul class="styled-icons icon-dark mt-20">
						<li class="wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1.5s" data-wow-offset="10">
							<a data-bg-color="#3B5998" href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li class="wow fadeInLeft" data-wow-delay=".2s" data-wow-duration="1.5s" data-wow-offset="10">
							<a data-bg-color="#02B0E8" href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li class="wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1.5s" data-wow-offset="10">
							<a data-bg-color="#05A7E3" href="#">
								<i class="fa fa-skype"></i>
							</a>
						</li>
						<li class="wow fadeInLeft" data-wow-delay=".4s" data-wow-duration="1.5s" data-wow-offset="10">
							<a data-bg-color="#A11312" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
						<li class="wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1.5s" data-wow-offset="10">
							<a data-bg-color="#C22E2A" href="#">
								<i class="fa fa-youtube"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">Latest News</h5>
					<div class="latest-posts">
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="#"><img alt="" src="http://placehold.it/80x55"></a>
							<div class="post-right">
								<h5 class="post-title mt-0 mb-5">
									<a href="#">Sustainable Construction</a>
								</h5>
								<p class="post-date mb-0 font-12">Mar 08, 2015</p>
							</div>
						</article>
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="#"><img alt="" src="http://placehold.it/80x55"></a>
							<div class="post-right">
								<h5 class="post-title mt-0 mb-5">
									<a href="#">Industrial Coatings</a>
								</h5>
								<p class="post-date mb-0 font-12">Mar 08, 2015</p>
							</div>
						</article>
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="#"><img alt="" src="http://placehold.it/80x55"></a>
							<div class="post-right">
								<h5 class="post-title mt-0 mb-5">
									<a href="#">Storefront Installations</a>
								</h5>
								<p class="post-date mb-0 font-12">Mar 08, 2015</p>
							</div>
						</article>
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="#"><img alt="" src="http://placehold.it/80x55"></a>
							<div class="post-right">
								<h5 class="post-title mt-0 mb-5">
									<a href="#">Industrial Coatings</a>
								</h5>
								<p class="post-date mb-0 font-12">Mar 08, 2015</p>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">Useful Links</h5>
					<ul class="list-border">
						<li>
							<a href="index-mp-layout1.html">Home</a>
						</li>
						<li>
							<a href="page-about-style1.html">About us</a>
						</li>
						<li>
							<a href="shortcode-sitemap.html">Sitemap</a>
						</li>
						<li>
							<a href="page-faq-style1.html">Faq's</a>
						</li>
						<li>
							<a href="page-contact-style1.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="widget dark">
					<h5 class="widget-title line-bottom">Quick Contact</h5>
					<ul class="list-border">
						<li>
							<a href="#">+(012) 345 6789</a>
						</li>
						<li>
							<a href="#">hello@yourdomain.com</a>
						</li>
						<li>
							<a class="lineheight-20" href="#">121 King Street, Melbourne Victoria 3000,
																																																								                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            										Australia</a>
						</li>
					</ul>
					<p class="font-16 text-white mb-5 mt-15">Subscribe to our newsletter</p>
					<form class="newsletter-form mt-10" id="footer-mailchimp-subscription-form">
						<label class="display-block" for="mce-EMAIL"></label>
						<div class="input-group">
							<input class="form-control" data-height="37px" id="mce-EMAIL" name="EMAIL" placeholder="Your Email" type="email" value="">
							<span class="input-group-btn">
								<button class="btn btn-colored btn-theme-colored m-0" type="submit">
									<i class="fa fa-paper-plane-o text-white"></i>
								</button>
							</span>
						</div>
					</form>

					<!-- Mailchimp Subscription Form Validation-->
					<script type="text/javascript">
						$('#footer-mailchimp-subscription-form').ajaxChimp({callback: mailChimpCallBack, url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'});

function mailChimpCallBack(resp) { // Hide any previous response text
var $mailchimpform = $('#footer-mailchimp-subscription-form'),
$response = '';
$mailchimpform.children(".alert").remove();
if (resp.result === 'success') {
$response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
} else if (resp.result === 'error') {
$response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
}
$mailchimpform.prepend($response);
}
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom bg-black-333">
		<div class="container pt-20 pb-20">
			<div class="row">
				<div class="col-md-6">
					<p class="font-11 text-black-777 m-0">Copyright &copy;2019 Scoop-solidaire. Tous droits reservés
					</p>
				</div>
				<div class="col-md-6 text-right">
					<div class="widget no-border m-0">
						<ul class="list-inline sm-text-center mt-5 font-12">
							<li>
								<a href="#">FAQ</a>
							</li>
							<li>|</li>
							<li>
								<a href="#">Help Desk</a>
							</li>
							<li>|</li>
							<li>
								<a href="#">Support</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<a class="scrollToTop" href="#">
	<i class="fa fa-angle-up"></i>
</a></body></html></div><!-- end wrapper --><!-- Footer Scripts --><!-- JS | Custom script for all pages --><script src="{{asset('js/custom.js')}}"> </script><!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
							                                                                                                                                      (Load Extensions only on Local File Systems ! 
							                                                                                                                                       The following part can be removed on Server for On Demand Loading) --></body></html>
