{# templates/emails/registration.html.twig #}
<h3>Vous avez demandé à changer votre mot de passe</h3>

Bonjour
{{ nom }}!.
<p>Pour votre demande de changment de mot de passe, merci de cliquer sur le lien suivant:
    <a href="http://127.0.0.1:8000/compte/forgot/{{token}}/password">Changer votre mot de passe</a>
</p>

Merci !
